.profile__info {
  color: white;
  display: grid;
  column-gap: 18px;
  row-gap: 16px;
  grid-template-columns: repeat(2, max-content);
}

@media (max-width: 767px) {
  .profile__info {
    column-gap: 10px;
    margin-bottom: 36px;
    margin-left: 28px;
  }
}
