.card__delete-button {
  padding: 0;
  background-color: transparent;
  border: 0;
  outline: none;
  background-image: url(../../../images/album/album__delete-button.svg);
  height: 18px;
  width: 19px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  transition: opacity 0.3s;
  cursor: pointer;
}
.card__delete-button:hover {
  opacity: 0.6;
}
